@font-face {
  font-family: "Source Sans";
  src: url("../font/SourceSansPro-Regular.otf");
}

@font-face {
  font-family: "Source Sans";
  src: url("../font/SourceSansPro-Light.otf");
  font-weight: 200;
}

@font-face {
  font-family: "Source Sans";
  src: url("../font/SourceSansPro-Semibold.otf");
  font-weight: 600;
}

* { 
	margin: 0px; 
	padding: 0px;
}

body {
    /* APPLE FONT --> font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif; */
    font: 16px "Source Sans", helvetica, arial, sans-serif;
  	font-weight: 200;
    font-size:14px;
    height:100%;
    width:100%;
    padding:0;
	margin:0;
	border:0;
	position: fixed;
	-webkit-transform:translate3d(0,0,0); /* Hardware aceleration */
}

a {
    color: inherit;
    text-decoration: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

h1{
	color: rgb(51, 51, 51);
}

/* Prevents slides from flashing */
#slides {
  display:none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/*Header style*/
#header {
	position:absolute; z-index:2;
	top:0; left:0;
	width:100%;
	background: #248DC1;
	padding:0;
	color:#eee;
	font-size:14px;
	line-height: 45px;
	text-align:center;
	height: 50px;  
}

.borderRadius{
	border-radius: 5px;   
    -moz-border-radius: 5px;   
    -webkit-border-radius: 5px;   
    -o-border-radius: 5px;   
    border-bottom-right-radius: 0;   
    -moz-border-radius-bottomright: 0;   
    -webkit-border-bottom-rightright-radius: 0;   
    border-bottom-left-radius: 0;   
    -moz-border-radius-bottomleft: 0;   
    -webkit-border-bottom-left-radius: 0; 
}

.headerBack{
	background-color: #000;
	width: 100%;
	height: 50px;
	position:absolute;
	padding:0;
}

#header .btn {
    position: absolute;
    top: 6px;
    left: 6px;
    width:35px;
    height: 35px;
    line-height: 36px;
    background-color:#58B1FC;
	border-radius: 100px;
}

div.btn i,#posIcon{
	line-height: 2.7;
	width: 35px;
}

#header .btn:active {
opacity: 0.5;
}

#header .location {
    position: absolute;
    top: 6px;
    right: 6px;
    width:35px;
    height: 35px;
    line-height: 36px;
    background-color:#58B1FC;
	border-radius: 100px;
}

#header .location:active {
opacity: 0.5;
}

.logo{
	height:32px; 
	width:auto; 
	margin-top:6px;
}

.sectionTitle{
	color: #fff;
}
/*End header style*/

/*Body styles*/
#body{
	background:#fff;
	position:absolute;
	width: 100%;
	height:100%;
}

#body h1{
	font-size:20px;
	line-height:50px
}

.borde-h1{
	width:5px;
	float:left;
	height:30px;
	margin-right:5px
}

#sectionContent{
	margin:10px
}
/*End body styles*/

.scroller {
	position:absolute; z-index:1;
	width:100%;
	padding:0;
}

/*Box style*/
.box{
	padding: 20px 20px;
	color: rgb(107, 107, 107);
	margin: 20px 0px;
	border-radius: 5px;
}

.greyBackground{
	background-color: #f3f3f3;
}

.greyBackground hr{
	margin: 10px 0;
	border-top: 1px solid #fff;
	border-right: none;
	border-bottom: none;
	border-left: none;
}

hr {
  margin: 10px 0;
  border-top: 1px solid #f3f3f3;
  border-right: none;
  border-bottom: none;
  border-left: none;
}

p.titleBox{
	text-transform: uppercase;
	font-weight: bold;
	color: rgb(60, 171, 218);
	display: inline;
}

p.date{
	display: inline;
	position: absolute;
	right: 30px;
	color: rgb(60, 171, 218);
}

.socialBody{
	text-align: center;
	font-size: 25px;
}
/*End box style*/

/*CSS spinner*/
.spinner {
   height:32px;
   width:32px;
   margin:0 auto;
   position:relative;
   -webkit-animation: rotation .9s infinite linear;
   -moz-animation: rotation .9s infinite linear;
   -o-animation: rotation .9s infinite linear;
   animation: rotation .9s infinite linear;
   border:6px solid rgba(0,174,239,.15);
   border-radius:100%;
}

.spinner:before {
   content:"";
   display:block;
   position:absolute;
   left:-6px;
   top:-6px;
   height:100%;
   width:100%;
   border-top:6px solid rgba(0,174,239,.8);
   border-left:6px solid transparent;
   border-bottom:6px solid transparent;
   border-right:6px solid transparent;
   border-radius:100%;
}

@-webkit-keyframes rotation {
   from {-webkit-transform: rotate(0deg);}
   to {-webkit-transform: rotate(359deg);}
}
@-moz-keyframes rotation {
   from {-moz-transform: rotate(0deg);}
   to {-moz-transform: rotate(359deg);}
}
@-o-keyframes rotation {
   from {-o-transform: rotate(0deg);}
   to {-o-transform: rotate(359deg);}
}
@keyframes rotation {
   from {transform: rotate(0deg);}
   to {transform: rotate(359deg);}
}
/*End CSS spinner*/

/* Map style */
#mapCanvas {width:100%;}
#mapCanvas img { max-width: none; }
#mapCanvas label { width: auto; display:inline; }
/* End map style */

div#loading{
	margin-top: 30px;
}

/*Flat button style*/
.flatBtn {
	margin: 10px;
	padding: 14px 26px;
	font-size: 14px;
	line-height: 100%;
	text-shadow: 0 1px rgba(0, 0, 0, 0.4);
	color: #fff;
	display:block;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
	font-weight: bold;
	transition: background 0.1s ease-in-out;
	-webkit-transition: background 0.1s ease-in-out;
	-moz-transition: background 0.1s ease-in-out;
	-ms-transition: background 0.1s ease-in-out;
	-o-transition: background 0.1s ease-in-out;
	text-shadow: 0 1px rgba(0, 0, 0, 0.3);
	color: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-family: 'Helvetica Neue', Helvetica, sans-serif;
	background-color: #3fb8e8;
	box-shadow: 0px 3px 0px 0px #3293ba;
}
.flatBtn:active {
	padding-top: 15px;
    margin-bottom: -1px;
    box-shadow: 0px 1px 0px 0px #3293ba;
}
.flatBtn, .flatBtn:active {
	outline: 0 none;
	text-decoration: none;
	color: #fff;
}

.working, .working:active{
	opacity: 0.5 !important;
	box-shadow: 0px 3px 0px 0px #3293ba !important;
	padding: 14px 26px !important;
}
/* End flat button style*/

.fa{
	margin-right: 10px;
}

div.screen {
	height: 100%; width: 100%;
	position: absolute;
	overflow: hidden;
	position: relative;
}

/*	Content */
div.menu {
	position: absolute;
	height: 100%; width: 100%;
	background: url('../img/blur.jpg') no-repeat center center; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
div.menu ul { 
	width: 600px;
	list-style: none; 
	margin: 95px 0px 0px 45px;
	height: 206px;
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;
}
div.menu li {
	/*font-family: 'HelveticaNeue-UltraLight', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', sans-serif;*/
	font-weight: 200;
	font-size: 19px;
	line-height: 19px;
	margin-bottom: 28px;

	-webkit-transition: all 400ms ease-in-out, opacity 1000ms ease;
	-moz-transition: all 400ms ease-in-out, opacity 1000ms ease;
	-ms-transition: all 400ms ease-in-out, opacity 1000ms ease;
	-o-transition: all 400ms ease-in-out, opacity 1000ms ease;
	transition: all 400ms ease-in-out, opacity 1000ms ease;
	-webkit-transform: translate3d(-150px, 0px, 0px) scale(0.2);
	opacity: 0;
}
div.menu li.visible {
	-webkit-transform: translate3d(0px, 0px, 0px) scale(1);
	opacity: 1;
}
div.menu li a {
	color: rgba(255,255,255,0.9);
	text-decoration: none;
}

div.menu li a i{
	width: 30px;
	text-align: center;
}

div.menu li a span{
	margin-left: 20px;
}

li.active i.fa{
	color: #58B1FC; !important;
}

.ulMenu .fa{
	margin-right: 0 !important;
}

div.content {
	position: absolute;
	top: 0px; left: 0px;
	height: 100%; width: 100%;
	background: #fff ; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	-webkit-transition: all 300ms ease-in-out;
	-moz-transition: all 300ms ease-in-out;
	-ms-transition: all 300ms ease-in-out;
	-o-transition: all 300ms ease-in-out;
	transition: all 300ms ease-in-out;
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000;


}
div.content.inactive {
	cursor: pointer;
	-webkit-transform: translate3d(160px, 0px, 0px) scale(0.7);
	-moz-transform: translate3d(160px, 0px, 0px) scale(0.7);
	-ms-transform: translate3d(160px, 0px, 0px) scale(0.7);
	transform: translate3d(160px, 0px, 0px) scale(0.7);
}